/* Fonts */

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/roboto-v29-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v29-latin-regular.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/roboto-v29-latin-500.woff2") format("woff2"), url("../fonts/roboto-v29-latin-500.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/roboto-v29-latin-700.woff2") format("woff2"), url("../fonts/roboto-v29-latin-700.woff") format("woff");
}


/* Hind Madurai */

@font-face {
    font-family: "Hind Madurai";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/hind-madurai-v10-latin-regular.woff2") format("woff2"), url("../fonts/hind-madurai-v10-latin-regular.woff") format("woff");
}

@font-face {
    font-family: "Hind Madurai";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/hind-madurai-v10-latin-500.woff2") format("woff2"), url("../fonts/hind-madurai-v10-latin-500.woff") format("woff");
}

@font-face {
    font-family: "Hind Madurai";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/hind-madurai-v10-latin-600.woff2") format("woff2"), url("../fonts/hind-madurai-v10-latin-600.woff") format("woff");
}

@font-face {
    font-family: "Hind Madurai";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/hind-madurai-v10-latin-700.woff2") format("woff2"), url("../fonts/hind-madurai-v10-latin-700.woff") format("woff");
}


/* Fredoka-one */

@font-face {
    font-family: "Fredoka One";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/fredoka-one-v12-latin-regular.woff2") format("woff2"), url("../fonts/fredoka-one-v12-latin-regular.woff") format("woff");
}


/* Fonts end */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Fredoka One", "Hind Madurai";
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero {
    background-color: #f2ceda;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-img {
    width: 79px;
    height: 79px;
}

.header-list {
    display: flex;
    list-style-type: none;
}

.header-item {
    margin-right: 40px;
}

.header-item:last-child {
    margin-right: 0;
}

.header-link {
    font-weight: bold;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
    text-transform: capitalize;
    opacity: 0.6;
    transition: color 0.3s ease;
}

.header-link:hover {
    color: #d23166;
    opacity: 1;
}

.header-link:active {
    color: #000000;
}

.active {
    color: #d23166;
    opacity: 1;
    font-size: 15px;
}

.main-anchor {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 19px;
    padding-right: 50px;
    padding-left: 50px;
    border: 1px solid #d64374;
    background-color: #d23166;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    color: #fafafa;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.3s linear;
}

.main-anchor:hover {
    box-shadow: 0 10px 20px rgba(138, 56, 131, 0.2);
}

.main-anchor:active {
    background-color: white;
    color: #d64374;
    border-color: #d64374;
}


/* End of header */

.hero-main {
    display: flex;
    padding-top: 70px;
    padding-bottom: 215px;
    background-image: url(../image/bg-image.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 433px 8px;
}

.hero-content {
    width: 58%;
    padding-top: 100px;
}

.hero-welcome {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.1em;
    color: #0F0101;
}

.main-span {
    color: #d23166;
}

.hero-heading {
    margin: 0;
    font-family: 'Fredoka One';
    font-weight: normal;
    font-size: 57px;
}

.main-text {
    width: 80%;
    margin-bottom: 50px;
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #0F0101;
    opacity: 0.6;
}

.main-link {
    padding-top: 17px;
    padding-bottom: 19px;
}


/* Section hero ends */

.marketing {
    margin: 80px auto 100px;
}

.marketing-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
}

.marketing-item {
    width: 250px;
    padding-top: 33px;
    padding-bottom: 27px;
    padding-right: 26px;
    padding-left: 26px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    transition: all 0.4s linear;
}

.marketing-item:hover {
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.03);
}

.marketing-item:active {
    border-color: #e00e9a;
}

.marketing-item:last-child {
    margin-right: 0;
}

.active-item {
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.03);
    border: 1px solid transparent;
}

.market-img {
    margin-bottom: 15px;
}

.market-heading {
    margin: 0;
    margin-bottom: 9px;
    font-family: 'Hind Madurai';
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
}

.market-text {
    margin: 0;
    font-family: 'Hind Madurai';
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    opacity: 0.6;
}


/*  Market section endddd  */

.brown-sugar {
    background-color: #f2ceda;
    margin-bottom: 137px;
}

.main-wrapper {
    background-image: url(../image/oatmea.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
}

.sugar-wrapper {
    width: 442px;
    padding-top: 141px;
    padding-bottom: 146px;
}

.sugar-heading {
    margin: 0;
    font-family: 'Hind Madurai';
    font-weight: 600;
    font-size: 44px;
    color: #150101;
    line-height: 49px;
}

.sugar-text {
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #150101;
    opacity: 0.6;
}

.sugar-link {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 41px;
    padding-right: 41px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
}


/*  Sugar link section enddds  */

.products-heading {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 600;
    font-size: 44.2px;
    text-align: center;
    line-height: 61px;
    color: #150101;
    text-transform: capitalize;
}

.products-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 888px;
    margin: 0 auto;
    margin-bottom: 50px;
    list-style-type: none;
}

.products-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    opacity: 0.6;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.1s linear;
}

.products-link:hover {
    border-bottom: 3px solid #d64374;
    opacity: 1;
}

.products-active {
    border-bottom: 3px solid #d64374;
    opacity: 1;
}

.product-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-wrapper:nth-child(odd) {
    display: flex;
    flex-direction: row-reverse;
}

.brown-content {
    margin-top: -60px;
}

.cayenne-content {
    text-align: right;
}

.headings {
    margin: 0;
    font-family: 'Hind Madurai';
    font-weight: bold;
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 11px;
}

.paragraph {
    max-width: 454px;
    margin: 0;
    margin-bottom: 28px;
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.7;
}

.span-wrapper {
    margin-bottom: 16px;
}

.true-price {
    font-family: 'Hind Madurai';
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
}

.fake-price {
    font-family: 'Hind Madurai';
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-decoration-line: line-through;
    opacity: 0.7;
}

.main-link {
    padding: 15px 55px 15px 46px;
}

.adele-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.adele-about {
    display: flex;
}

.adele-inner-about {
    margin-left: 20px;
}

.white-space {
    margin: 0;
}

.adele-main:before {
    content: url(../image/quote.png);
    position: relative;
    left: -22px;
    top: 40px;
}

.adele-main:after {
    content: url(../image/rquote.png);
    position: relative;
    left: 270px;
    top: -52px;
}

.adele-main {
    margin: 0;
    max-width: 322px;
}

.adele-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 252px;
}

.adele-phrase {
    margin: 0;
    margin-top: 25px;
    margin-bottom: 36px;
    max-width: 322px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.6
}


/*  Adele ends  */

.aside {
    position: relative;
    background-color: #f2ceda;
}

.aside-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
}

.aside-content {
    width: 642px;
    padding-bottom: 100px;
}

.aside-heading {
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    text-transform: capitalize;
}

.aside-paragraph {
    max-width: 607px;
    margin-bottom: 29px;
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #0F0101;
    opacity: 0.7;
}

.aside-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.aside-item {
    display: flex;
    align-items: center;
}

.aside-img {
    display: block;
    padding: 6px 10px 8px 9px;
    background-color: #ffffff;
    border-radius: 3px;
}

.picture-aside {
    padding: 8px;
}

.aside-picture {
    padding: 9px 7px;
}

.aside-text {
    margin-left: 10px;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-transform: capitalize;
}

.link-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 367px;
    margin-left: -13px;
}

.picture-play {
    display: block;
}

.image {
    margin-bottom: -33px;
    order: -1;
}


/*  Aside section endsss  */

.inner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 637px;
    margin: 150px auto;
    padding-bottom: 71px;
}

.ending-heading {
    width: 522px;
    margin-bottom: 36px;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    text-align: center;
}

.form-wrapper {
    margin-bottom: 37px;
}

.together {
    width: 260px;
    padding: 24px 0 24px 20px;
    border: 1px solid #FFA3A3;
    border-radius: 5px;
}

.together[placeholder] {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #0f0000;
    opacity: 0.6;
}

#question {
    margin-left: 30px;
    padding: 24px 0 24px 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #0f0000;
    opacity: 0.6;
}

.question-wrapper {
    display: flex;
    align-items: center;
    width: 637px;
}

.answer {
    width: 470px;
}

.btn {
    height: 65px;
    padding: 22px 31px 24px 31px;
    border: none;
    background-color: #d64374;
    border-radius: 5px;
    transform: translateX(-15px);
}

.btn[value] {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
}


/*  Section ends]  */

.footer {
    background-color: #0a0808;
}

.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 57px;
    padding-bottom: 104px;
}

.footer-entry {
    margin-right: 37px;
}

.footer-logo {
    display: block;
    width: 79px;
    height: 78px;
}

.entry-text {
    margin-top: 9px;
    margin-bottom: 25px;
    width: 207px;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    opacity: 0.7;
}

.footer-add-heading {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.entry-list {
    display: flex;
    justify-content: space-between;
    max-width: 90px;
    padding: 0;
    list-style-type: none;
}

.entry-img {
    display: block;
}

.list-main-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-list {
    margin-right: 132px;
}

.footer-list {
    margin-top: 75px;
    padding: 0;
    list-style-type: none;
}

.footer-item {
    margin-bottom: 10px;
}

.footer-item:last-child {
    margin-bottom: 0;
}

.item-link {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    opacity: 0.7;
    transition: all 0.3s linear;
}

.footer-active {
    opacity: 1;
}

.item-link:hover {
    background-color: #ffffff;
    color: #000000;
}

.item-link:active {
    background-color: #000000;
    color: #ffffff;
}

.wrap {
    padding-top: 66px;
}

.footer-contact {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
}

#email {
    width: 262px;
    padding: 20px 0 19px 32px;
    border: 2px solid #d64374;
    background-color: transparent;
    border-radius: 5px;
    opacity: 0.6;
}

#email::-webkit-input-placeholder {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #ffffff;
}

#email::-moz-placeholder {
    opacity: 1;
}

#email:focus {
    color: yellow;
}

#btn {
    padding: 17px 18px 17px 17px;
    background-color: #d23166;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
    transform: translate(-10.3px, 1.5px);
}

.contact-list {
    display: flex;
    align-items: center;
    padding: 0;
    list-style-type: none;
}

.contact-item {
    margin-right: 10px
}

.contact-item:last-child {
    margin-right: 0;
}


/* Copyright C | Efrat.Guy */